:root{
    --color-secundario: #1e521a;
    --color-primario: #e7dfb6;
    --color-footer: #002300;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primario);
    color: white;
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 10px;
    background-color: var(--color-secundario);
}


/* .container-galeria{
    
} */